VITE_FIREBASE_API_KEY=AIzaSyDsNODAqCYyl_6hMls5XQI9mR_rtu0qz2U
VITE_FIREBASE_AUTH_DOMAIN=murtazaasiftraders.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=murtazaasiftraders
VITE_FIREBASE_STORAGE_BUCKET=murtazaasiftraders.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=58057931604
VITE_FIREBASE_APP_ID=1:58057931604:web:7910ee1a8dd6cf96a1e6c1
